# ==========================================
# APLICACIÓN
# ==========================================
NODE_ENV=development
PORT=3000
APP_VERSION=1.0.0
COMMIT_SHA=local

# ==========================================
# POSTGRESQL
# ==========================================
DB_HOST=postgres
DB_PORT=5432
DB_NAME=sistema_academico
DB_USER=academico_user
DB_PASSWORD=change_me

# Variables utilizadas por la imagen oficial
# de PostgreSQL dentro de Docker Compose
POSTGRES_DB=sistema_academico
POSTGRES_USER=academico_user
POSTGRES_PASSWORD=change_me

# ==========================================
# AUTENTICACIÓN
# ==========================================
JWT_SECRET=change_me_with_a_long_random_value
JWT_EXPIRES_IN=1h

# ==========================================
# FRONTEND / CORS
# ==========================================
CORS_ORIGIN=http://localhost:4200