.fecha{

    text-align:right;

    margin:18px 0 25px;

    font-size:13px;

}

.declaracion{

    font-size:13px;

    line-height:1.9;

    text-align:justify;

    margin-bottom:25px;

}

.valor{

    display:inline-block;

    min-width:60px;

    padding:0 2px;

    border-bottom:1px solid #000;

    text-align:center;

}

.valor-fuerte{

    font-weight:bold;

}
